PORT=5000
MONGO_URI=mongodb://localhost:27017/girvi
JWT_SECRET=replace_me
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
TWILIO_SID=
TWILIO_AUTH=
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886
